{%  include 'inc/navbar.html' %}
<html>
<body>
    <div class="well">
        <div class="navbar_dashboard">
            <ul class="nav nav-pills nav-stacked col-md-3">
                <li role="presentation"><a href="/dashboard/{{user.getId}}">Home</a></li>
                <li role="presentation"><a href="/pending_trips/{{user.getId}}">Pending Trips</a></li>
                <li role="presentation" class="active"><a href="/past_trips/{{user.getId}}">Past Trips</a></li>
                <li role="presentation"><a href="/new_trip/{{user.getId}}">New Trip!</a></li>
            </ul>
        </div>
        <div class="container">
            {% if trips is not empty %}
                {% for trip in trips %}
                    <div class="col-md-3 col-md-3-offset-1">
                        <h4>{{ trip.getName }}</h4>
                        <p>{{ trip.getDescription }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
