<!-- NOT DONT YET!! -->

{%  include 'inc/head-tag.html.twig' %}
{%  include 'inc/navbar_nopic.html.twig' %}
<html>
<body class='past-trip-page'>
    <div class='container'>
        <!-- Past trip full itinerary. No edit functionality -->
        <h1>Past Trip Itinerary:</h1>
        <div class="row">
            <div class="well past_itinerary col-sm-7">
                <div class="trip_title col-sm-8">
                    <h3>{{ trip.getName }}<span>{{ trip.getDescription }}</span></h3>
                </div>
                {% if activities is not empty %}
                    {% for activity in activities %}
                        <div class="past_activities row">
                            <h5 class='col-sm-12'>{{ activity.getName }}: <a class="a-tag"> (edit)</a></h5>
                            <p class='col-sm-4'>{{ activity.getDate }}</p>
                            <p class='col-sm-8'>{{ activity.getDescription }}</p>

                        <!-- form for edit-->
                            <form action='/past_trip/{{ trip.getId }}/{{activity.getId}}' method='post' class="edit-past-activity col-sm-12">
                                <input type='hidden' name='_method' value='patch'>
                                <label for='name'>Activity Name</label>
                                <input type='text' name='name' class='form-control' value='{{ activity.getName }}'>
                                <label for='date'>Date</label>
                                <input type='datetime-local' name='date' class='form-control' value='{{ activity.getDate }}'>
                                <label for='description'>Description</label>
                                <textarea name='description' class='form-control'>{{ activity.getDescription }}</textarea>
                                <button class='btn btn-info' type='submit'>Edit</button>
                            </form>

                        </div>
                    {% endfor %}
                {% endif %}
                <form action='/past_trip/delete/{{trip.getId}}' method='post' class='delete'>
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="trash">Delete this Trip</button>
                </form>
            </div>
        <!-- review of past trip -->
            <div class="well past_reviews col-sm-4 col-sm-offset-1">
                <h4>Your review:</h4>
                <h5>{{ review.getTitle }} - <span>{{ review.getRating }} stars</span></h5>
                <p>{{ review.getDescription }}</p>
            </div>
        <!-- Edit this trip button. Initiates a dropdown -->
            <button class="col-sm-4 col-sm-offset-1 btn btn-default edit_past">Edit this trip</button>

            <!-- delete this trip-->

        </div>
        <!-- add activity form -->
            <div class="row add_activity col-sm-7">
                <form method='post' action='/past_trip/{{ trip.getId }}'>
                    <h3>Add an activity to this trip</h3>
                    <label for='name'>Activity Name</label>
                    <input type='text' name='name' class='form-control'>
                    <label for='date'>Date</label>
                    <input type='datetime-local' name='date' class='form-control' value='2016-01-01T12:00'>
                    <label for='description'>Description</label>
                    <textarea name='description' class='form-control'></textarea>
                    <button class='btn btn-info' type='submit'>Add</button>
                </form>
            </div>
        </div>
    </div>
    {% include 'inc/footer.html' %}
</body>
</html>
