{%  include 'inc/head-tag.html.twig' %}
{%  include 'inc/navbar.html.twig' %}
<html>
<body>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-3'>
                <!-- display all states here -->
                <h2>Browse by State</h2>
                {% if states is not empty %}
                    {% for state in states %}
                        <h4><a href="/search_results/{{ state }}">{{ state }}</a></h4>
                    {% endfor %}
                {% endif %}
            </div>
            <div class='col-sm-9'>
                <!-- display search or browse results -->
                {% if results is not empty %}
                    <h2>Your search results:</h2>
                    <ul>
                        {% for result in results %}
                            <li><a href="/city/{{result.getId}}">{{ result.getName }}, {{ result.getState }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'inc/footer.html' %}
</body>
</html>
