{%  include 'inc/head-tag.html.twig' %}
{%  include 'inc/navbar.html.twig' %}
<html>
<body>
    <div class='row main-search'>
        <div class='container'>
            <form class='form-inline' action="/search_results" method="post">
                <button class='magnifying-main' type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                <input type="text" class="form-control input-lg search-bar-main" name="search_input" placeholder="Search cities">
           </form>
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-3'>
                <!-- display all states here -->
                <h2>Browse by State</h2>
                {% if states is not empty %}
                    {% for state in states %}
                        <h4><a href="/search_results/{{ state }}">{{ state }}</a></h4>
                    {% endfor %}
                {% endif %}
            </div>
            <div class='col-sm-9'>
                <!-- display search or browse results -->
                {% if results is not empty %}
                    <h2>Your search results:</h2>
                    <ul>
                        {% for result in results %}
                            <li><a href="/city/{{result.getId}}">{{ result.getName }}, {{ result.getState }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <br><br>
                    <h4>There are no cities matching your search.</h4>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'inc/footer.html' %}
</body>
</html>
