{%  include 'inc/head-tag.html.twig' %}
{%  include 'inc/navbar.html.twig' %}
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="/dashboard/{{ current_user.getId }}"><span class='sidebar-active'>Home</span></a></li>
                    <li role="presentation"><a href="/pending_trips/{{ current_user.getId }}"><span class="sidebar">Pending Trips</span></a></li>
                    <li role="presentation"><a href="/past_trips/{{ current_user.getId }}"><span class='sidebar'>Past Trips</span></a></li>
                    <li role="presentation"><a href="/new_trip/{{ current_user.getId }}"><span class='sidebar'>New Trip</span></a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <h3>My Account <a href='#'><img class='user-edit-button' src='/assets/img/edit.svg'></a></h3>
                <br>
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <img class="user-pic" src="/assets/img/user.svg">
                        <h5 class=>{{ current_user.getUsername }}</h5>
                    </div>
                    <div class="col-sm-7 user-info-to-hide">
                        <h5>Name: {{ current_user.getName }}</h5>
                        <h5>Location: {{ current_user.getLocation }}</h5>
                        <h5>Bio:</h5>
                        <p>{{ current_user.getBio }}</p>
                    </div>
                    <div class='col-sm-7 hidden-form'>
                        <form action="/dashboard/{{ current_user.getId }}" method="post">
                            <input type="hidden" name="_method" value="patch">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" placeholder="name" name="name" value='{{ current_user.getName }}' required>
                            </div>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" placeholder="location" name="location" value='{{ current_user.getLocation }}' required>
                            </div>
                            <div class="form-group">
                                <label for="bio">Bio</label>
                                <textarea type="text" class="form-control" placeholder="a little about yourself" name="bio" rows='4' required>{{ current_user.getBio }}</textarea>
                            </div>
                            <button type='submit' class='btn btn-default'>Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'inc/footer.html' %}
</body>
</html>
